{% extends "base.html" %}
{% block content_title %}{{ entry.title }}
    {% if g.user== entry.author %}<a class="btn" href="{{ url_for('entries.edit',slug=entry.slug) }}">Edit</a>
            <a class="btn btn-danger" href="{{ url_for('entries.delete',slug=entry.slug) }}">Delete</a>
    {% endif %}
    {% endblock %}
{% block sidebar_extra %}

        <div class="list-group">
            <div class="list-group-item active">Tags</div>
            {% for tag in entry.tags %}
                <a href="{{ url_for('entries.tag_detail',slug=tag.slug) }}" class="list-group-item">{{ tag.name }}</a>
            {% endfor %}
        </div>

{% endblock %}
{% block content %}<p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ entry.created_timestamp.strftime('%m/%d/%Y') }} By- {{ entry.author.email }}</p>
    <hr/>
    {{ entry.body }}
{% endblock %}